/* Portfolio.css */

.portfolio {
    padding: 60px 20px;
    background-color: #000000;
    margin-top: 20px; /* Add this line */
  }
  
  
  .portfolio h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
  }
  
  .portfolio-header {
    font-size: 2.5em;
    margin-bottom: 40px;
    padding: 20px 0;
  }
  
  .search-bar {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    height: 40px;


  }
  
  .search-bar input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 1em;
    margin-right: 30px;
    height: 20px; 
  }
  
  .portfolio-filters {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .filter-button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .filter-button.active,
  .filter-button:hover {
    background-color: #007AFF;
    color: #fff;
  }
  
  .portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .portfolio-item {
    background-color: #fff;
    width: 300px;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
  }
  
  .portfolio-item-content {
    padding: 20px;
  }
  
  .portfolio-item-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .portfolio-item-content p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .project-link {
    text-decoration: none;
    color: #007AFF;
    font-weight: bold;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }

  .divider {
    margin: 20px;
    border: 1px solid #fff;
  }
  
  