.resources {
  padding: 60px 20px;
  background-color: transparent;
  margin-top: 20px; /* Add this line */
}

.resources h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
  padding: 20px 0;
}

.resources-header {
  font-size: 2.5em;
  margin-bottom: 40px;
  padding: 20px 0;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f1f1f1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  background-color: #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


.resource-filters {
  text-align: center;
  margin-bottom: 40px;
}

.filter-button {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.filter-button.active,
.filter-button:hover {
  background-color: #007AFF;
  color: #fff;
}

.resource-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resource-item {
  background-color: #fff;
  width: 300px;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.resource-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.resource-item p {
  font-size: 1em;
  margin-bottom: 20px;
}

.resource-item a {
  text-decoration: none;
  color: #007AFF;
  font-weight: bold;
}

.resource-item a:hover {
  text-decoration: underline;
}
